footer.main-footer
  div.footer-content
    p.copyright-clauses
      | #{t('dataAttribution')} 
      a(href='https://www.networkrail.co.uk/', target='_blank', rel='noopener noreferrer') Network Rail Limited
      |  (
      a(href='https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/', target='_blank', rel='noopener noreferrer') OGL3
      | ), 
      a(href='https://www.digitraffic.fi/en/', target='_blank', rel='noopener noreferrer') Fintraffic / digitraffic.fi
      |  (
      a(href='https://creativecommons.org/licenses/by/4.0/', target='_blank', rel='noopener noreferrer') CC-BY 4.0
      | ), 
      a(href='https://www.trafikverket.se/', target='_blank', rel='noopener noreferrer') Trafikverket
      |  (
      a(href='https://creativecommons.org/publicdomain/zero/1.0/', target='_blank', rel='noopener noreferrer') CC0
      | ) #{t('and')} 
      a(href='https://www.banenor.no/', target='_blank', rel='noopener noreferrer') Bane NOR
      |  (
      a(href='https://data.norge.no/nlod/en/2.0', target='_blank', rel='noopener noreferrer') NLOD
      | ).