extends layout

block content
  section.hero
    .hero-content
      h1.hero-title Raiteilla
      p.hero-subtitle #{t('Search for Stations and Trains')}
      
      #search-container
        input#search-input(type='text', placeholder=t('Enter station name or train number...'))
        #suggestions

block scripts
  script(src=`/js/main.js?v=${cacheBuster}`)