doctype html
html(lang=language)
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href=`/css/style.css?v=${cacheBuster}`)
    link(href='https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.css' rel='stylesheet')
    script.
      window.i18n = !{clientTranslations};
  body
    include includes/header
    main.container
      block content
    include includes/footer
    script(src='https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.js')
    block scripts
    script.
      function changeLanguage(langCode) {
        const searchParams = new URLSearchParams(window.location.search);
        searchParams.set('lang', langCode);
        window.location.href = window.location.pathname + '?' + searchParams.toString();
      }